@model Delete.Models.Client


@{
    ViewData["Tilte"] = "Cliente";
}

<h1>Detalhes Produtos</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <Label asp-for="Name" class="control-label"></Label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        
            <div class="form-group" style="margin-top:15px;">                
                <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
            </div>
        

    </div>
</div>